<!-- Navbar (sit on top) -->
<div class="w3-top w3-hide-small">
  <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
    <img src="../../assets/image/car1.ico" style="width:3% ">
    <a href="#" class="w3-bar-item w3-button">INÍCIO</a>
    <a href="#menu" class="w3-bar-item w3-button">MENU</a>
    <a href="#about" class="w3-bar-item w3-button">SOBRE</a>
    <a href="#Contato" class="w3-bar-item w3-button">CONTATO</a>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-padding">
    <span class="w3-tag w3-xlarge">Nós buscamos mostrar a fascinante beleza da mulher</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white w3-hide-small" style="font-size:100px">Fascinant</span>
    <p><a href="#menu" class="w3-button w3-xxlarge w3-black">Vê os produtos</a></p>
  </div>
</header>


<!-- Menu Container -->
<div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="menu">
  <div class="w3-content">

    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Produtos</h1>
    <div class="w3-row w3-center w3-border w3-border-dark-grey">
      <a href="javascript:void(0)" onclick="openMenu(event, 'Pizza');" id="myLink">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Rosto</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'Pasta');">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Boca</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'Starter');">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Olho</div>
      </a>
    </div>

    <div id="Pizza" class="w3-container menu w3-padding-32 w3-white">
      <h1><b>Primer</b>
        <br><img src="../../assets/image/prime.jpg" style="width:15%">
        <span class="w3-right w3-tag w3-dark-grey w3-round">R$ 127,00</span></h1>
      <p class="w3-text-pink">M·A·C <br>Prep Prime Fix </p>
      <button class="w3-button w3-black">Comprar<i class="fa fa-shopping-cart"></i></button>
      <hr>

      <h1><b>Base</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$ 169,00</span></h1>
      <br><img src="../../assets/image/base.jpg" style="width:15%">
      <p class="w3-text-pink">Dior Backstage <br>Base Dior Backstage Face & Body</p>
      <button class="w3-button w3-black">Comprar <i class="fa fa-shopping-cart"></i></button>
      <hr>

      <h1><b>Corretivo</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$ 179,00</span></h1>
      <br><img src="../../assets/image/corretivo.jpg" style="width:15%">
      <p class="w3-text-pink">NARS <br>Corretivo NARS Radiant Creamy Concealer</p>
      <button class="w3-button w3-black">Comprar <i class="fa fa-shopping-cart"></i></button>
      <hr>

      <h1><b>Pó</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$ 199,00</span></h1>
      <br><img src="../../assets/image/po.jpg" style="width:15%">
      <p class="w3-text-pink">Laura Mercier <br>Pó Translucido Laura Mercier Loose Setting Powder</p>
      <button class="w3-button w3-black">Comprar <i class="fa fa-shopping-cart"></i></button>
      <hr>

      <h1><b>Bronzer</b> <span class="w3-tag w3-red w3-round">BRILHOSO!</span><span
        class="w3-right w3-tag w3-dark-grey w3-round">R$ 279,00</span></h1>
      <br><img src="../../assets/image/bronze.jpg" style="width:15%">
      <p class="w3-text-pink">Guerlain <br>Pó Bronzeador Guerlain Terracotta Route des Indes</p>
      <button class="w3-button w3-black">Comprar <i class="fa fa-shopping-cart"></i></button>
      <hr>

      <h1><b>Blush</b> <span class="w3-tag w3-grey w3-round">NOVO</span><span
        class="w3-right w3-tag w3-dark-grey w3-round">R$ 186,00</span></h1>
      <br><img src="../../assets/image/blush.png" style="width:15%">
      <p class="w3-text-pink">NARS <br>Blush NARS</p>
      <button class="w3-button w3-black">Comprar <i class="fa fa-shopping-cart"></i></button>
    </div>

    <div id="Pasta" class="w3-container menu w3-padding-32 w3-white">
      <h1><b>Lápis de boca</b> <span class="w3-tag w3-grey w3-round">Popular</span> <span
        class="w3-right w3-tag w3-dark-grey w3-round">R$ 95,00</span></h1>
      <br><img src="../../assets/image/lapisb.jpg" style="width:15%">
      <p class="w3-text-pink">NARS<br>Batom Satin Lip Pencil</p>
      <button class="w3-button w3-black">Comprar <i class="fa fa-shopping-cart"></i></button>
      <hr>

      <h1><b>Batom</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$ 62,00</span></h1>
      <br><img src="../../assets/image/batom.jpg" style="width:15%">
      <p class="w3-text-pink">M·A·C <br>Batom MAC Matte Lipstick</p>
      <button class="w3-button w3-black">Comprar <i class="fa fa-shopping-cart"></i></button>
      <hr>

      <h1><b>Batom liquído</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$ 53,00</span></h1>
      <br><img src="../../assets/image/batomL.jpg" style="width:15%">
      <p class="w3-text-pink">M·A·C <br>Batom Líquido Retro Matte Liquid Lipcolour</p>
      <button class="w3-button w3-black">Comprar <i class="fa fa-shopping-cart"></i></button>
      <hr>

      <h1><b>Lip balm</b> <span class="w3-right w3-tag w3-dark-grey w3-round"> R$ 139,00</span></h1>
      <br><img src="../../assets/image/limp.jpg" style="width:15%">
      <p class="w3-text-pink">NARS <br>Lip Balm Nars Afterglow</p>
      <button class="w3-button w3-black">Comprar <i class="fa fa-shopping-cart"></i></button>
    </div>


    <div id="Starter" class="w3-container menu w3-padding-32 w3-white">
      <h1><b>Sombras</b> <span class="w3-tag w3-grey w3-round">Sensacional</span><span
        class="w3-right w3-tag w3-dark-grey w3-round">R$ 369,00</span></h1>
      <br><img src="../../assets/image/sombras.jpg" style="width:15%">
      <p class="w3-text-pink">Urban Decay <br>Paleta de Sombras Urban Decay Naked Heat</p>
      <button class="w3-button w3-black">Comprar <i class="fa fa-shopping-cart"></i></button>
      <hr>

      <h1><b>Delineador</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$ 125,00</span></h1>
      <br><img src="../../assets/image/delineador.png" style="width:15%">
      <p class="w3-text-pink">Benefit Cosmetics<br>Delineador Benefit Roller Liner</p>
      <button class="w3-button w3-black">Comprar <i class="fa fa-shopping-cart"></i></button>
      <hr>

      <h1><b>Lápis de olhos</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$ 85,00</span></h1>
      <br><img src="../../assets/image/lapisO.jpg" style="width:15%">
      <p class="w3-text-pink">M·A·C <br>Lápis de Olhos Powerpoint Eye Pencil</p>
      <button class="w3-button w3-black">Comprar <i class="fa fa-shopping-cart"></i></button>
      <hr>

      <h1><b>Máscara de cílios</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$ 135,00</span></h1>
      <br><img src="../../assets/image/mascara.jpg" style="width:15%">
      <p class="w3-text-pink">Kat Von D <br> Máscara de Cílios Kat Von D Go Big Or Go Home</p>
      <button class="w3-button w3-black">Comprar <i class="fa fa-shopping-cart"></i></button>
    </div>
    <br>

  </div>
</div>

<!-- About Container -->
<div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="about">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Sobre</h1>
    <p>Somos uma empresa francesa, estamos no brasil há 10 anos. Nossa unica proposta é trazer ao mundo a
      <b>fascinante</b> beleza da mulher.</p>
    <p>
    <p>
    <p>Nossa missão é mostrar para todas as mulher do mundo como elas são: mais radiantes, fortes, poderosas e <b>fascinantes</b>.
    </p>
    <img src="../../assets/image/dior.jpg" style="width:100%" class="w3-margin-top w3-margin-bottom" alt="Make">


  </div>
</div>

<!-- Contact -->
<div id="Contato" class="w3-container w3-padding-64 w3-blue-grey w3-grayscale-min w3-xlarge">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Contato</h1>
    <p>Encontre-nos, ligue para: (62) 98261-0822 (62)98217-9708</p>
    <p><span class="w3-tag"></span></p>

  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
  <p>Copyright © 2019 <u>Fascinant</u></p>
</footer>

