<div class="container">
  <h5>Grupo de Produtos</h5>
  <div class="card-body">
    <div class="row">
      <div class="form-row">
        <!-- <div class="form-group col-md-2">
          <label for="inputCodigo">Código</label>
          <input type="number" class="form-control" name="inputCodigo" [(ngModel)]="obj.id">
        </div> -->
        <div class="form-group col-md-6">
          <label for="inputNome">Nome</label>
          <input type="text" class="form-control" name="inputNome" [(ngModel)]="obj.nome">
        </div>
        <div class="form-group col-md-4 align-self-end">
          <button type="button" class="btn btn-outline-primary" (click)="salvar()">Salvar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <table class="table">
      <!-- <th scope="col">Código</th> -->
      <th scope="col">Nome do produto</th>
      <tr *ngFor="let grupo of lista">
        <!-- <td>{{grupo.id}}</td> -->
        <td>{{grupo.nome}}</td>
        <td><button type="button" class="btn btn-outline-warning mr-auto" (click)="carregarDados(grupo)">Editar</button></td>
        <td><button type="button" class="btn btn-outline-danger mr-auto" (click)="deletar(grupo.id)">Deletar</button></td>
      </tr>
    </table>
  </div>

</div>
