
<div class="container">
  <h5>Seu carrinho de compras</h5>
  <div class="card">
    <table class="table">
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Tipo de Produto</th>
      <th scope="col">Preço</th>
      <tr *ngFor="let carrinho of listadecompras">
        <td>{{carrinho.nome}}</td>
        <td>{{carrinho.descricao}}</td>
        <td>{{carrinho.grupo.nome}}</td>
        <td>R$ {{carrinho.preco}}</td>
        <td><button type="button" class="btn btn-outline-warning" (click)="deletar(produto)">Remover</button></td>
      </tr>
    </table>
  </div>
<!--  <div>-->
<!--    <button type="button" class="btn btn-outline-primary mt-3" (click)="adicionarProduto(produto)">Compre agora</button>-->
<!--  </div>-->
</div>
