
<div class="container">
  <div class="card-body">
    <div class="row">
      <div class="form-group">
        <label for="inputNome">Nome</label>
        <input type="text" class="form-control" name="inputNome">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="inputSenha">Senha</label>
        <input type="text" class="form-control" name="inputSenha">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <button type="button" class="btn btn-outline-primary" (click)="verificarLogin()">Login</button>
      </div>
    </div>
  </div>
</div>
